/// A: Colors
$cphy-primary: theme-color("cphy-primary");
$cphy-primary-xlight: lighten($cphy-primary, 40%);
$cphy-primary-light: lighten($cphy-primary, 20%);
$cphy-primary-dark: darken($cphy-primary, 30%);

$cphy-secondary: theme-color("cphy-secondary");
$cphy-secondary-xlight: lighten($cphy-secondary, 40%);
$cphy-secondary-light: lighten($cphy-secondary, 20%);
$cphy-secondary-dark: darken($cphy-secondary, 10%);

$cphy-colors: (
  "cphy-primary":       $cphy-primary,
  "cphy-primary-xlight": $cphy-primary-xlight,
  "cphy-primary-light": $cphy-primary-light,
  "cphy-primary-dark":  $cphy-primary-dark,

  "cphy-secondary":       $cphy-secondary,
  "cphy-secondary-light": $cphy-secondary-light,
  "cphy-secondary-dark":  $cphy-secondary-dark
);

// Generate bg- and text- classes for theme colors
@each $color-key, $color-value in $cphy-colors {
  .text-#{$color-key} {
    color: $color-value;
  }

  .bg-#{$color-key} {
    background-color: $color-value;
  }
}

.badge-cphy-secondary {
  color: $dark;
}

.badge-cphy-primary-light {
  color: $white;
  background-color: $cphy-primary-light;
}

.badge-cphy-primary-xlight {
  color: $dark;
  background-color: $cphy-primary-xlight;
}

/// B: Typography
.text-bold {
  font-weight: 700;
}

.text-weight-normal {
  font-weight: normal;
}

.text-italic {
  font-style: italic;
}

.text-style-normal {
  font-style: normal;
}

.text-normal {
  font-weight: normal;
  font-style: normal;
}

.section-heading {
  color: $dark;
  border-bottom: 3px solid $cphy-primary;
}

.section-heading-light {
  color: $light;
  border-bottom: 3px solid $cphy-primary-light;
}


/// C. Containers & Blocks
section.landing {
  background-color: $cphy-primary;
}

.landing-inner {
  background-color: $cphy-primary-light;
  border-radius: 20% 5% 20% 0;
}

.landing-content-container {
  background-color: $white;
  border-radius: 20% 5% 40% 0;
  height: 90vh;
}

.products {
  background-color: $cphy-primary;
}

.phamily {
  background-color: $white;
}

/// Z. Loose Elements
.btn-floating-action {
  position: fixed;
  left: 16px;
  bottom: 16px;
  color: $light;
}

.blockquote-primary {
  background: $cphy-primary-xlight;
  border-left: 6px solid $cphy-primary;
  padding: map-get($spacers, 3);
}

.blockquote-primary > .blockquote-heading {
  color: $cphy-primary;
}

.blockquote-secondary {
  background: $cphy-secondary-xlight;
  border-left: 6px solid $cphy-secondary;
  padding: map-get($spacers, 3);
}

.blockquote-secondary > .blockquote-heading {
  color: $cphy-secondary;
}

.blockquote-gray {
  background: $gray-300;
  border-left: 6px solid $gray-600;
  padding: map-get($spacers, 3);
}

.blockquote-gray > .blockquote-heading {
  color: $gray-600;
}

.contact {
  max-width: 800px;
}

// Hides the github bottom-right fab
.github-fab {
  display: hidden;
}