section, .section {
  height: 100vh;
}

.full-height {
  height: 100vh;
}

.half-height {
  height: 50vh;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex: 1;
}

.container {
  margin: 0 15%;
}

.landing {
  background-color: var(--col-primary-dark);
}

.landing > div {
  background-color: var(--col-primary);
  border-radius: 30% 40% 0 0;
  height: 100%;
  box-shadow: var(--box-shadow-inset);
}

.landing > div > div {
  background: var(--col-white) url('./../images/bg-landing.png') center center no-repeat;
  border-radius: 60% 80% 0 0;
  height: 100%;
  box-shadow:
    var(--box-shadow-inset),
    inset 0px -11px 12px -10px var(--col-gray-400);
}

.page-section {
  padding: var(--spacing) 0;
}

.page-section:nth-child(even) {
  background-color: var(--col-white);
  box-shadow: none;
}

.page-section:nth-child(odd) {
  background-color: var(--col-gray-100);
  box-shadow:
    inset 0px 11px 12px -10px var(--col-gray-300),
    inset 0px -11px 12px -10px var(--col-gray-300);
}

.display-block {
  display: block;
}

.card {
  margin: 0.5rem;
  background-color: var(--col-white);
  border-radius: 0.2rem;
  box-shadow: var(--box-shadow);
}

.card-body {
  border-radius: 0.2rem 0.2rem 0 0;
  padding: 0.5rem;
}

.card-header {
  border-radius: 0 0 0.2rem 0.2rem;
  padding: 0.5rem;
}

.card-title {
  margin-bottom: 0;
}