html, body {
  box-sizing: border-box;
  font-size: var(--font-size);
  font-family: var(--font-family-body);
  line-height: normal;
  padding: 0;
  margin: 0;
}

/* A. Typography */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--font-family-heading);
  padding: 0;
  margin-bottom: var(--spacing);
}

h1, h2, h3,
.h1, .h2, .h3 {
  font-weight: 300;
}

h4, h5, h6,
.h4, .h5, .h6 {
  font-weight: 400;
}

h1, .h1 {
  font-size: 3rem;
}

h2, .h2 {
  font-size: 2.2rem;
}

h3, .h3 {
  font-size: 1.8rem;
}

h4, .h4 {
  font-size: 1.2rem;
  font-style: italic;
}

h5, .h5 {
  font-size: 1rem;
  font-weight: 700;
}

h6, .h6 {
  font-size: 0.8rem;
  font-weight: 700;
}

p, .p {
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

.title {
  font-size: 6rem;
}

.subtitle {
  font-size: 3rem;
}

.text-light {
  font-weight: 300;
}

b, .b, strong, .strong, .text-bold {
  font-weight: 700;
}

i, .i, em, .em, .text-italic {
  font-style: italic;
}

code, .code, pre, .pre {
  font-family: var(--font-family-code);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* A. Blocks */