:root {
  --col-white: #fff;
  --col-black: #000;
  --col-gray-50: #fafafa;
  --col-gray-100: #f5f5f5;
  --col-gray-200: #eeeeee;
  --col-gray-300: #e0e0e0;
  --col-gray-400: #bdbdbd;
  --col-gray-500: #9e9e9e;
  --col-gray-600: #757575;
  --col-gray-700: #616161;
  --col-gray-800: #424242;
  --col-gray-900: #212121;

  --col-indigo: #3f51b5;
  --col-primary: var(--col-indigo);
  --col-primary-light: #9fa8da;
  --col-primary-dark: #283593;

  --col-orange: #ff9800;
  --col-secondary: var(--col-orange);
  --col-secondary-light: #ffcc80;
  --col-secondary-dark: #ef6c00;

  --font-size: 16px;

  --font-montserrat: 'Montserrat';
  --font-opensans: 'Open Sans';
  --font-inconsolata: 'Inconsolata';

  --font-family-heading: var(--font-montserrat),  'Verdana', 'Arial', 'Helvetica Neue', sans-serif;
  --font-family-body: var(--font-opensans), 'Arial', 'Helvetica', sans-serif;
  --font-family-code: var(--font-inconsolata), 'Consolas', 'Menlo', 'Courier New', 'Courier', monospace;

  --spacing: 1rem;

  --box-shadow: 2px 2px var(--col-gray-500);
  --box-shadow-inset: inset 0px 11px 12px -10px var(--col-black);
}

html, body {
  box-sizing: border-box;
  font-size: var(--font-size);
  font-family: var(--font-family-body);
  line-height: normal;
  padding: 0;
  margin: 0;
}